/* Html Elements */
html { 
  font: normal 13px "Trebuchet MS", Verdana, "Lucida Grande", Georgia, Sans-Serif;
  text-align:justify;
}

a { 
    color: #C31E12;
    font-weight: bold; 
    text-decoration:none;
}

a.externos {  
    color: #000;
    font-weight: normal; 
    border-bottom: #EA215A 0.125em dotted;
}

h1, h2, h3 { 
    font-weight: normal; 
    margin: 5px 0 10px; 
    padding: 0; 
}

h1 a, h2 a, h3 a { 
    font-weight: normal; 
    border-bottom-width: 0; 
}

h1 { 
    text-align: center;
    color: white;
    background: #C31E12;
    font-size: 20px;  
    border: 1px solid #392222;     
}

h2 { 
    color: #C31E12;
    font-size: 20px; 
}

h3 { 
    color: white;
    background: #C31E12;
    text-align: center;
    font-size: 10px; 
    margin-right: 15px;
    border: 1px solid #392222;
}

table {
    width: 100%; 
    text-align: center;
    border-collapse: collapse; 
}

td {
    font: normal 13px "Trebuchet MS", Verdana, "Lucida Grande", Georgia, Sans-Serif;
    padding-top: 6px;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 6px;
}

td#numerito {
    font-weight: bold;
    text-align: right;
    width: 5%;
}

td#numerito2 {
    text-align: left;
    width: 10%;
}

td#numerito3 {
    text-align: left;
    width: 6%;
}

li {
    text-align: justify;
}

table#izquierda {
    text-align: left;
    margin-left: 3%;
    width: 98%;
}

table#barra, tr#barra-tr {
    border: 1px solid #392222; 
}

tr#backgnd{
    background : url(../img/slide-bg.png) 0 0;
}

table#barra a{
    color: white;
}

table#tablas td{
    padding-top: 2px;
    padding-bottom: 2px;
}
